.container-signin-signup {
  background: -webkit-linear-gradient(left, #39CCCC, #001f3f);
  padding: 30px 15px;
}

.register-right {
  background: #DDDDDD;
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 15% 55%;
  height: 100%;
  overflow-y: auto;
  padding-bottom: 20px;
}

.container-signin-signup .nav-tabs {
  margin-top: 10px;
  background: #ffffff;
  float: right;
  width: 200px;
}

.container-signin-signup .nav-tabs .nav-link {
  padding: 2%;
  height: 34px;
  font-weight: 600;
  color: #AAAAAA;
  border: #39CCCC solid 1px;
}

.container-signin-signup .nav-tabs .nav-link.active {
  width: 100px;
  color: #39CCCC;
  border: 2px solid #85144b;
}
